/*general css for all products, this file shouldn't be changed*/
*:not(input){
	-webkit-user-select: none;
}
#presentation{
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    margin-top: 100px;
}
#presentation .screen{
    width: 900px;
    height: 500px;
    background: url("screens/screen_1.jpg") -60px no-repeat;
    background-size: 120% auto;

}